<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>compraevenda</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarClienteServlet</display-name>
    <servlet-name>CadastrarClienteServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.CadastrarClienteServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>email</param-name>
      <param-value>compreevendadetudo@gmail.com</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>senha</param-name>
      <param-value>cove.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarClienteServlet</servlet-name>
    <url-pattern>/CadastrarClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarregarImagemServlet</display-name>
    <servlet-name>CarregarImagemServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.CarregarImagemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarregarImagemServlet</servlet-name>
    <url-pattern>/CarregarImagemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecuperarSenhaServlet</display-name>
    <servlet-name>RecuperarSenhaServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.RecuperarSenhaServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>email</param-name>
      <param-value>compreevendadetudo@gmail.com</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>senha</param-name>
      <param-value>cove.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecuperarSenhaServlet</servlet-name>
    <url-pattern>/RecuperarSenhaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarClienteServlet</display-name>
    <servlet-name>AlterarClienteServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.AlterarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarClienteServlet</servlet-name>
    <url-pattern>/AlterarClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarProdutoServlet</display-name>
    <servlet-name>CadastrarProdutoServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.CadastrarProdutoServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>email</param-name>
      <param-value>compreevendadetudo@gmail.com</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>senha</param-name>
      <param-value>cove.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarProdutoServlet</servlet-name>
    <url-pattern>/CadastrarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarProdutoServlet</display-name>
    <servlet-name>DeletarProdutoServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.DeletarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarProdutoServlet</servlet-name>
    <url-pattern>/DeletarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaProdutosServlet</display-name>
    <servlet-name>ListaProdutosServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.ListaProdutosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaProdutosServlet</servlet-name>
    <url-pattern>/ListaProdutosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscaServlet</display-name>
    <servlet-name>BuscaServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.BuscaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaServlet</servlet-name>
    <url-pattern>/BuscaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualizarProdutoServlet</display-name>
    <servlet-name>VisualizarProdutoServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.VisualizarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizarProdutoServlet</servlet-name>
    <url-pattern>/VisualizarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarClienteServlet</display-name>
    <servlet-name>DeletarClienteServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.DeletarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarClienteServlet</servlet-name>
    <url-pattern>/DeletarClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualizarClienteServlet</display-name>
    <servlet-name>VisualizarClienteServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.VisualizarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizarClienteServlet</servlet-name>
    <url-pattern>/VisualizarClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscaProdutoIndexServlet</display-name>
    <servlet-name>BuscaProdutoIndexServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.BuscaProdutoIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaProdutoIndexServlet</servlet-name>
    <url-pattern>/BuscaProdutoIndexServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>HibernateFilter</display-name>
    <filter-name>HibernateFilter</filter-name>
    <filter-class>br.com.compraevenda.util.HibernateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HibernateFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarProdutoServlet</display-name>
    <servlet-name>AlterarProdutoServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.AlterarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarProdutoServlet</servlet-name>
    <url-pattern>/AlterarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnviarMensagemServlet</display-name>
    <servlet-name>EnviarMensagemServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.EnviarMensagemServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>email</param-name>
      <param-value>compreevendadetudo@gmail.com</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>senha</param-name>
      <param-value>cove.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnviarMensagemServlet</servlet-name>
    <url-pattern>/EnviarMensagemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnviarEmailServlet</display-name>
    <servlet-name>EnviarEmailServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.EnviarEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnviarEmailServlet</servlet-name>
    <url-pattern>/EnviarEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADMServlet</display-name>
    <servlet-name>ADMServlet</servlet-name>
    <servlet-class>br.com.compraevenda.controlador.ADMServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>user</param-name>
      <param-value>c</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>password</param-name>
      <param-value>c</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADMServlet</servlet-name>
    <url-pattern>/ADMServlet</url-pattern>
  </servlet-mapping>
</web-app>